$primary-color: #FFFFFF;
$secondary-color: #F4C2C2;
$tertiary-color: #708090;
$gradient-1: $primary-color, $secondary-color;
$titles-logos-font-family: 'Shrikhand', sans-serif;
$text-font-family: 'Dosis', sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);