header{
    display: grid;
    background-color: $primary-color;
    border: 0;
    outline: none;

}

.header{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    outline: none;
    &__title{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 300%;
    }
    &__logo{
        display: flex;
        height: 100px;
        width: 100px;
    }
}
