@import '../utils/variables';

.header-nav{
    display: flex;
    justify-content: space-around;

    &__item{
        display: flex;
        justify-content: center;
        color: $tertiary-color;
        text-decoration: none;
        background: transparent;
        border: 4px solid transparent;
        font-weight: 700;
        font-size: 40px;
        transition: .6s ease;

    };
    &__item:hover{
        transform: scale(1.4),;
        color: $secondary-color;
        transition: .6s ease-in-out;
    };
};